<nav class="navbar">
    <h1 class="mb-4!">ℜ𝔞𝔱𝔬'𝔰 ℌ𝔦𝔡𝔢𝔬𝔲𝔱</h1>
    <ul>
        <img src="/public/rat.svg" id="rato" />
        <li><a href="/">Home</a></li>
        <li><a href="/tools/">Tools</a></li>
        <li><a href="/blogs/">Blog</a></li>
    </ul>
</nav>

<script>
const rato = document.getElementById('rato');
const baseScale = 1;       // normal size
const amplitude = 0.05;     // scale oscillation +-0.2
const period = 16000;       // 4 seconds for full sine wave
const rotate = -5;         // degrees
const tx = 1;             // em translation x
const ty = -2.5;             // em translation y

let start = null;

function animate(time) {
  if (!start) start = time;
  const t = time - start;

  // sine scaling
  const scale = baseScale + amplitude * Math.sin((2 * Math.PI * t) / period);
  //const scale = baseScale;

  // apply rotation, translation, and scale
  rato.style.transform = `rotate(${rotate}deg) translate(${tx}em, ${ty}em) scale(${scale})`;

  requestAnimationFrame(animate);
}

requestAnimationFrame(animate);
</script>